:root {
  --brand-purple: #d83f87;
  --brank-violet: #2a1b3d;
  --brand-gold: #cd9806;
}
a{
  text-decoration: none;
  color: white;
}
button{
  cursor: pointer;
}
* {
  padding: 0px;
  margin: 0px;
}
body {
  background-color: var(--brank-violet);
  color: white;
}
nav {
  top: 0px;
  position: fixed;
  width: 100%;

  display: flex;
  justify-content: space-between;
  height: max-content;

  overflow: hidden;
  z-index: 9999;

}
#nav-logo-container {
  margin-left: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav img {
  width: 100px;
  object-fit: cover;
  transition: 1s ease-in-out;
}
nav ul {
  align-items: center;
  padding: 30px 0px;
  position: relative;
  transition: 1s padding ease-in-out;
  display: flex;
}
nav ul li {
  list-style-type: none;
  padding: 0px 20px;
  position: relative;
  transition: .6s;
}
nav ul li a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;

  text-decoration: none;
}

nav ul li a::after {
  content: "";
  width: 100%;
  transform: scaleX(0);
  transform-origin: right;
  height: 3px;
  background-color: #f33;
  display: block;

  transition: transform 1s ease;
}
nav ul li a:hover::after {
  content: "";

  height: 3px;
  background-color: #f33;
  display: block;

  transform: scaleX(1);
  transform-origin: left;
}
.nav-ul-h3-black {
  color: black;
}
.navbar-toggle {
display: none;
}
.navbar-toggle i {
  padding: 7px 15px;
  font-size: 30px;
  color: black;
  background-color: white;
  border-radius: 10px;
  
}

/* Sign in Box */
/* From cssbuttons.io by @Custyyyy */
#bottone5 {
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
  color: black;
 }
 
 #bottone5:hover,
 #bottone5:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
 }
 
 #bottone5:hover {
  transform: translateY(-1px);
 }
 
 #bottone5:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
 }
.sign{
  z-index: 1000;
  background-color: white;
  color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  position: fixed;
  bottom: 10px;
  right: 10px;
  border-radius: 10px;
  overflow: hidden;
  animation: 3s linear ani-sign-in;
}
@keyframes ani-sign-in{
  0%{right: -30%;}
  100%{right: 10px ;}
}
.sign-hd{
  display: flex;
  align-items: center;
  border-bottom: 1px black solid;
}
.sign-hd i{
  padding: 0px 12px;
  font-size: 20px;
}
.sign-ct{
  display: flex;
  align-items: center;
    justify-content: center;
}
.sign-ct img{
  border-radius: 100%;
}










.category{
  display: flex;
  justify-content: space-around;
  padding: 20px 0px 40px 0px;
}
.category-cover h1{
  font-family: Aquire;
  text-align: center;
  font-size: 40px;
  padding: 20px 0px 40px 0px;
  position: relative;
  width: max-content;
  margin: auto;
}


.category-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family:  'Arial Narrow', Arial, sans-serif;
}

.category-item img{
  padding: 0px 0px 20px 0px;
  width: 100px;
}






















/* footer */
.footer-cover{
  background-color: black;
  color: white;
 
  display: flex;
  justify-content: center;
 
 }
 .footer{
   width: clamp(200px,80%,1200px);
   padding: 50px 0px 20px 0px;
   
 }
 .footer-up{
   display: grid;
   border-bottom: 1px white solid;
   grid-template-columns: repeat(4,1fr);
 
 }
 .foot-item h2{
   text-transform: uppercase;
   font-size: 16px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   color: grey;
 }
 .foot-item ul{
   margin-top: 20px;
 }
 .foot-item ul li{
   list-style-type: none;
   margin-bottom: 10px;
 }
 .foot-item a {
   text-decoration: none;
   color:white;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 13px;
   text-transform: capitalize;
 }
 
 
 .foot-item img{
   width: 260px;
   margin-bottom: 20px;
 }
 
 
 
 
 .foot-end{
   margin-top: 20px;
   display: flex;
   justify-content: space-between;
 }
 .foot-end img{
   width: 100px;
 }
 .foot-end div{
   margin: auto 0px;
 }
 
 
 
 
 
 
 
 
 
 
 
 
 

 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 




































































header {
  height: 100vh;
  position: relative;
  overflow-y: hidden;
  background: url("https://cdn.dnaindia.com/sites/default/files/styles/full/public/2019/01/14/777735-restaurant-01.jpg");
  background-size: cover;
  background-attachment: fixed;
}
header .overlay {
  height: 100vh;
  width: 100%;
  content: "";
  display: block;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 0;
}

#header-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -2;
}
.video-container {
  overflow-x: hidden;
}

.video-button {
  position: absolute;

  bottom: 5%;
  left: 3%;
  z-index: 200;
}
.video-button-1 {
  color: black;
  display: flex;
  background-color: white;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}
.video-button-1:hover {
  box-shadow: 0 0 10px white;
}

.video-button-on,
.video-button-off {
  width: 60px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 2;
}
.video-switch {
  transition: 0.6s ease-in-out;
  width: 50%;
  height: 30px;
  background-color: var(--brand-purple);

  position: absolute;
  left: 0px;
  border-radius: 10px;
  overflow: hidden;
  z-index: 5;
}
.video-switched {
  left: 50%;
}
.header-content {
  z-index: 4;
  position: absolute;
  top: 0px;
  height: 100vh;
  width: 100%;
  background: transparent;
  color: white;
  display: grid;
  place-items: center;
}
.head-con1 {
  font-family: "Pushster", cursive;
  font-size: 3em;
  width: 100%;
}
.head-title {
  display: grid;
  place-items: center;

  grid-template-columns: 1fr auto 1fr;
  width: 100%;
}
.head-titile-line {
  height: 100%;
  width: 100%;
  content: "";
  background-color: white;
  height: 4px;
  display: flex;
  margin: auto;
}
.box-1 {
  background-color: #ff6766;
}

.btn {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  cursor: pointer;
}
.head-button {
  display: flex;
  justify-content: center;
}

.head-btn {
  color: #fff;
  transition: all 0.3s;
  position: relative;
}
.btn-one span {
  transition: all 0.3s;
  font-size: 0.35em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.btn-one::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 200px;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgba(255, 255, 255, 0.5);
  border-bottom-color: rgba(255, 255, 255, 0.5);
  transform: scale(0.1, 1);
}
.btn-one:hover span {
  letter-spacing: 2px;
}
.btn-one:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}
.btn-one::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 200px;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(255, 255, 255, 0.1);
}
.btn-one:hover::after {
  opacity: 0;
  transform: scale(0.1, 1);
}

.gallery {
  width: clamp(200px, 70%, 1200px);
  height: 90vh;
  margin: auto;
  display: flex;
  padding: 30px 0px 0px 0px;
}

.gallery-text {
  padding: 0px 10px 20px 10px;
}
.gallery-text h1 {
  color: var(--brand-gold);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 50px;
  margin-bottom: 50px;
}
.gallery-text h3 {
  margin-bottom: 60px;
  font-size: 16px;
  padding-right: 60px;
}
.gallery-end-stars {
  color: var(--brand-gold);
  font-size: 15px;

  justify-content: center;
}
.gallery-photo {
  position: relative;
}
.gallery-photo img {
  box-shadow: 0 0 10px var(--brand-gold);
  width: 400px;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
.gallery-photo-extra {
  position: absolute;
  width: 300px !important;
  top: 300px;
  left: -100px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  border-top-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}
.gallery-photo-extra-2 {
  position: absolute;
  width: 150px !important;
  top: 40px;
  right: -50px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 60px;
  border-bottom-right-radius: 60px;
}
.gallery-stars {
  position: absolute;
  top: 200px;
  left: -60px;
  border: 2px solid var(--brand-gold);
  width: 30px;
  height: 30px;
  border-top-right-radius: 24px;
  border-bottom-left-radius: 24px;
  transform: rotate(45deg);
  box-shadow: 0 0 10px var(--brand-gold);
}
.gallery-stars-2 {
  top: 140px;
  left: -40px;
  width: 40px;
  height: 40px;
}
.gallery-stars-3 {
  top: 260px;
  left: -80px;
  width: 20px;
  height: 20px;
}
.cssbuttons-io-button {
  background: var(--brand-purple);
  color: white;
  font-family: inherit;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em var(--brand-purple);
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
}

.cssbuttons-io-button .icon {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em var(--brand-purple);
  right: 0.3em;
  transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: var(--brand-purple);
}

.cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
  transform: scale(0.95);
}

.parallax {
  height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallaxandsearchintersection {
  text-align: center;
  font-size: 10px;
  height: 30px;

  width: 100%;
  background: linear-gradient(to top, white, var(--brank-violet) 30%);
}
.parallaxandsearchintersection-2 {
  background: linear-gradient(to bottom, white, var(--brank-violet) 30%);
}













 
 
 
 
@media screen and (max-width: 1200px){

  .gallery{
    width: auto !important;
    margin: 0px 60px !important;
    flex-direction: column;
    flex: 1;
  }
  .gallery-photo{
    width: max-content;
    margin: auto;
  }
}
@media  screen and (max-width:1000px) {
  .category-item{
    width: 33%;
  }
  
}
@media  screen and (max-width:800px) {
  .navbar-toggle {
    display: block;
    }
#nav-ul{
  flex-direction: column;
  position: fixed;
  right: 0%;
  margin-top:45px ;
}
#nav-ul li{
  padding: 10px 20px;
  margin: 5px;
  background-color: black;
  width: 120px;
  text-align: center;
}
#nav-ul h3{
  color: white !important;

}

}